.Rproj.user
.Rhistory
.RData
.Ruserdata

inst/notebooks/mxnet/image_classification/dog\.rds

inst/notebooks/mxnet/image_classification/cat\.rds

*.html

MNIST-data/

inst/notebooks/mxnet/tmp/submission\.csv
# include html files under ./docs folder
!docs/*.html
